services: docker

before_install:
- docker build -t moderncv-fontawesome .

script:
- docker run -v $(pwd):/data moderncv-fontawesome brabban_cv.tex

deploy:
  provider: releases
  api_key: ${GH_API_KEY}
  file: brabban_cv.pdf
  